## Secrets
service-account.json
.env
.env.*

## Node
node_modules
npm-debug.log

## Python
.venv/
__pycache__/
*.pyc

# Expo / React Native
./expo
dist/
build/

# Editor / os
.vscode/
DS_STORE

##  Learning / Experiments
practice/
prime/
